# Preprocessing and Data Cleaning

**This notebook is just for reference, there's no need to run this.  
the clean data is saved at the end and uploaded in the main script.**

In [1]:
import pandas as pd
import numpy as np

In [2]:
upload = pd.read_csv('raw_data.csv').rename(str.lower, axis='columns')
upload.sample(10)

,kpmag,numax,e_numax,delnu,e_delnu,a,e_a,width,e_width,teff,...,e_nocorr,rgbcorm,e_rgbcorm,rgbcorr,e_rgbcorr,clcorm,e_clcorm,clcorr,e_clcorr,phase
9002,13.28,41.44,0.85,4.466,0.039,82.2,3.6,18.1,1.4,5160,...,0.40,1.73,0.16,11.70,0.40,1.74,0.16,11.72,0.41,2
8939,11.38,29.64,0.88,3.926,0.050,126.7,5.2,12.1,1.3,5093,...,0.47,1.03,0.12,10.71,0.47,1.04,0.12,10.72,0.47,2
8072,11.85,43.17,0.47,4.420,0.012,61.9,2.6,14.6,0.9,4960,...,0.29,1.78,0.12,11.74,0.28,1.94,0.13,12.25,0.30,2
10495,10.56,83.00,2.10,6.903,0.036,22.1,1.9,34.0,4.3,5145,...,0.31,2.41,0.22,9.75,0.31,2.52,0.23,9.97,0.32,2
10180,13.44,28.48,0.97,3.909,0.037,132.0,9.2,13.0,3.7,5155,...,0.46,0.98,0.12,10.60,0.47,0.95,0.12,10.42,0.46,2
10265,13.90,24.79,0.39,2.909,0.016,123.7,7.8,9.5,1.3,4553,...,0.45,1.49,0.12,14.48,0.42,1.65,0.14,15.20,0.45,1
12330,12.13,46.41,0.62,4.808,0.011,86.6,4.3,18.0,1.4,4874,...,0.24,1.54,0.10,10.56,0.24,1.67,0.10,10.99,0.25,1
3810,12.62,43.93,0.56,4.537,0.010,79.8,3.5,15.2,0.9,4742,...,0.24,1.53,0.09,10.90,0.23,1.70,0.10,11.48,0.24,1
11900,13.99,45.17,0.57,5.154,0.014,96.0,5.2,15.9,0.9,4982,...,0.23,1.12,0.08,9.07,0.23,1.20,0.08,9.42,0.23,1
13303,12.51,27.07,0.71,3.527,0.113,125.3,5.1,11.7,1.2,4864,...,0.84,1.02,0.16,11.29,0.79,1.12,0.18,11.82,0.84,2

In [3]:
df = upload.copy()

## column removal

In [4]:
col_df = df.copy()

columns that start in *e_* describe the error in measurement, and are irrelevant for the calculation process.

In [5]:
col_df.drop(
    columns=df.columns[
        df.columns.str.contains('e_')],
    inplace=True)

col_df.columns

Index(['kpmag', 'numax', 'delnu', 'a', 'width', 'teff', 'log(g)', '[fe/h]',
       'nocorm', 'nocorr', 'rgbcorm', 'rgbcorr', 'clcorm', 'clcorr', 'phase'],
      dtype='object')

the mass and radius corrections can be averaged

In [6]:
col_df[col_df.columns[
        col_df.columns.str.contains('cor')]
          ].sample(3)

       nocorm  nocorr  rgbcorm  rgbcorr  clcorm  clcorr
1057     2.02   10.90     1.94    10.68    2.07   11.02
12063    1.13   11.56     1.00    10.91    1.12   11.53
7691     0.61    7.64     0.66     7.96    0.64    7.82

In [7]:
col_df['rad'] = col_df.nocorr + col_df.rgbcorr + col_df.clcorr
col_df['mass'] = col_df.nocorm + col_df.rgbcorm + col_df.clcorm

col_df.drop(
    columns=col_df.columns[
        col_df.columns.str.contains('cor')],
    inplace=True)

col_df.sample(10)

,kpmag,numax,delnu,a,width,teff,log(g),[fe/h],phase,rad,mass
15045,10.68,54.29,4.785,34.2,23.5,5226,2.661,-0.02,2,41.12,9.42
9524,12.10,60.28,6.161,77.2,19.3,4776,2.687,-0.10,1,25.25,3.77
12205,12.90,198.20,15.271,43.7,53.3,5010,3.214,-0.15,1,14.01,3.90
14004,10.40,38.18,3.923,91.9,13.2,4944,2.496,-0.41,1,40.27,6.18
14486,12.53,33.44,3.906,99.9,12.9,4904,2.437,-0.80,1,35.10,4.10
13497,13.01,31.25,3.883,144.2,9.7,5017,2.412,-0.81,2,33.89,3.61
969,13.06,61.61,5.965,74.4,19.4,4684,2.692,0.10,1,27.28,4.45
1452,13.84,59.02,5.834,50.9,20.3,4943,2.685,-0.29,1,28.22,4.69
14717,11.66,116.88,10.109,61.7,33.0,4939,2.982,-0.09,1,18.67,4.06
9684,13.28,44.61,4.797,83.4,16.4,5058,2.569,-0.02,1,32.17,4.66

renaming and reordering columns

In [8]:
col_df.rename(
    {
        'kpmag': 'ap_mag',  # apparent magnitude (brightness)
        'numax': 'freq',  # maximum oscillation frequency
        'delnu': 'fr_sep',  # frequency separation of oscillation modes
        'a': 'amp',  # oscillation amplitude
        'width': 'pow_ex',  # power excess width
        'teff': 'temp',  # effective temperature
        'log(g)': 'grav', # surface gravity logarithm
        '[fe/h]': 'metal',  # metallicity
    },
axis='columns',
inplace=True)

In [9]:
col_df = col_df[['phase'] + list(col_df.columns.drop('phase'))]
col_df.columns

Index(['phase', 'ap_mag', 'freq', 'fr_sep', 'amp', 'pow_ex', 'temp', 'grav',
       'metal', 'rad', 'mass'],
      dtype='object')

In [10]:
df = col_df.copy()

## nulls

In [11]:
null_df = df.copy()

In [12]:
null_df.isnull().sum()

phase     0
ap_mag    0
freq      0
fr_sep    0
amp       0
pow_ex    0
temp      0
grav      0
metal     0
rad       0
mass      0
dtype: int64

that's not true, and the dtypes hold a hint:

In [13]:
null_df.dtypes

phase       int64
ap_mag    float64
freq      float64
fr_sep    float64
amp        object
pow_ex     object
temp        int64
grav      float64
metal     float64
rad       float64
mass      float64
dtype: object

apparently there are spaces in certain expressions and empty strings instead of nulls

In [14]:
print('vals with spaces:', null_df.amp.str.contains(' ').sum())
null_df['amp'] = df.amp.str.replace(' ', ''
                  ).replace('', np.nan
                           ).astype(float)
print('nulls post cleanup:', null_df.amp.isnull().sum())

vals with spaces: 9185
nulls post cleanup: 537

In [15]:
print('vals with spaces:', null_df.pow_ex.str.contains(' ').sum())
null_df['pow_ex'] = df.pow_ex.str.replace(' ', ''
                  ).replace('', np.nan
                           ).astype(float)
print('nulls post cleanup:', null_df.pow_ex.isnull().sum())

vals with spaces: 15387
nulls post cleanup: 537

In [16]:
null_df.dtypes

phase       int64
ap_mag    float64
freq      float64
fr_sep    float64
amp       float64
pow_ex    float64
temp        int64
grav      float64
metal     float64
rad       float64
mass      float64
dtype: object

and what about zeros?

In [17]:
null_df[null_df == 0].any(axis='columns').sum()

0

In [18]:
df = null_df.copy()

## export

In [19]:
export_df = df.copy()

change phase names for clarity

In [20]:
export_df.phase.replace({
    1: 'RGB', # Red Giant Branch
    2: 'HeB', # Helium Burning Phase
}, inplace=True)
export_df.phase.value_counts()

HeB    7703
RGB    7685
Name: phase, dtype: int64

In [21]:
export_df.to_csv('clean_data.csv', index=False)